In [32]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import json # library to handle JSON files
import geopy
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

##!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

In [33]:
## Read data from url 
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
toronto_url = requests.get(url)
toronto_url

In [34]:
toronto_data = pd.read_html(toronto_url.text)
len(toronto_data), type(toronto_data)

(3, list)

In [35]:
## Refer to first table
toronto_data = toronto_data[0]
toronto_data.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

In [36]:
toronto_data.tail()

,Postal code,Borough,Neighborhood
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

In [37]:
## Ignore rows with Not assigned borough
indexBorough = toronto_data[toronto_data['Borough'] == 'Not assigned'].index
toronto_data.drop(indexBorough, inplace=True)

In [25]:
## Neighborhoods separated with a comma
toronto_data = toronto_data.replace('/',', ',regex=True)

In [27]:
## Neighborhood will be the same as the borough if Not assigned
toronto_data.Neighborhood.replace('Not assigned',toronto_data.Borough,inplace=True)

In [14]:
toronto_data.head()

  Postal code           Borough                                   Neighborhood
2         M3A        North York                                      Parkwoods
3         M4A        North York                               Victoria Village
4         M5A  Downtown Toronto                    Regent Park ,  Harbourfront
5         M6A        North York             Lawrence Manor ,  Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park ,  Ontario Provincial Government

In [29]:
toronto_data.shape

(103, 3)